.search-icon{
    position: absolute;
    left: 800px;
}
.w-120{
    width: 120%;
}
/* .profile-pic-nav{
    max-width:100%;
    max-height:100%;
} */


/* styles/Sidebar.css */

.sidebar {
    width: 250px;
    transition: transform 0.3s ease;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .submenu {
    display: block;
    margin-left: 10px;
  }
  
  .submenu li {
    padding-left: 10px;
  }
  